.daftar-materi-card-container {
  display: inline-block;
  width: 50%;
  height: 18rem;
  padding: 0.625rem;
}

.daftar-materi-card {
  background-color: white;
  width: 100%;
  height: 100%;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  padding: 1.25rem;
}

.daftar-materi-label {
  color: #66bdd1;
}

.daftar-materi-title {
  font-weight: bold;
  font-size: larger;
}

.daftar-materi-count {
  font-size: small;
  font-weight: 300;
  margin-bottom: 1.25rem;
}

.daftar-materi-desc {
  font-size: small;
  height: 5rem;
  margin-bottom: 1.25rem;
}
