.petunjuk-container {
  margin-top: 5rem;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  -webkit-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
}

.petunjuk-button {
  width: 8rem;
  border-radius: 20px;
}
