.soal-evaluasi-container {
  background-color: white;
  margin-top: 1.25rem;
  padding: 1.25rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.bullet-pilihan {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 1rem;
}

.selected {
  background-color: black;
}
